/* LOAD CUSTOM STYLES */
@import "../styles/loaders.css";

@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
  root: ":root";
  include:;
  exclude:;
  prefix:;
  logs: true;
}

/* @theme {
  --color-de-york-50: #0f3456;
  --color-de-york-100: #d9f2dd;
  --color-de-york-200: #b6e4c1;
  --color-de-york-300: #85d09b;
  --color-de-york-400: #69be85;
  --color-de-york-500: #319857;
  --color-de-york-600: #217a43;
  --color-de-york-700: #1a6237;
  --color-de-york-800: #174e2d;
  --color-de-york-900: #144027;
  --color-de-york-950: #0a2416;

  --color-emerald-50: #f1fcf2;
  --color-emerald-100: #dff9e4;
  --color-emerald-200: #c0f2ca;
  --color-emerald-300: #8ee7a2;
  --color-emerald-400: #46ce65;
  --color-emerald-500: #2fb84e;
  --color-emerald-600: #21983d;
  --color-emerald-700: #1e7733;
  --color-emerald-800: #1c5f2d;
  --color-emerald-900: #194e27;
  --color-emerald-950: #082b12;
} */

/* HANDLE NUMBER INPUT */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* HANDLE DISABLE BUTTON */
button:disabled {
  cursor: not-allowed !important;
  pointer-events: all !important;
}

/* HIDE SCROLLBAR */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* SHIMMER ANIMATION FOR SKELETONS */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* --color-primary: #22c55e; */
  /* --color-primary: #199b99; */
  /* --color-primary: #0f3456; */
  --color-primary: #2563eb;
  /* --color-primary-content: #6ee7b7; */
  /* --color-primary-content: #61c2e2; */
  /* --color-primary-focus: #bb0606; */
  /* --color-primary-focus: #0f3456; */
  --color-secondary: #28cb38;
  /* --color-secondary-content: #010f01; */
  /* --color-accent: #1656c4; */
  /* --color-accent-content: #cfdef6; */
  /* --color-neutral: #262931; */
  /* --color-neutral-content: #cfd0d2; */
  --color-base-100: #f2f2f2;
  --color-base-200: #fafafb;
  --color-base-300: #fff;
  /* --color-content: #121412; */
  /* --color-neutral-content: #; */
  /* --color-info: #2563eb; */
  /* --color-info-content: #; */
  /* --color-success: #; */
  /* --color-success-content:#; */
  /* --color-warning	: #; */
  /* --color-warning-content: #; */
  /* --color-error	: #; */
  /* --color-error-content	: #; */
  /* --radius-selector	: ; */
  /* --radius-field	: ; */
  /* --radius-box	: ; */
  /* --size-selector	: ; */
  /* --size-field	: ; */
  /* --border	: ; */
  /* --depth	: ; */
  /* --noise	: #; */
}
