@import "tailwindcss";
@plugin "daisyui";

@import "../styles/loaders.css";

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #da2637;
  --color-primary-content: #fed9d6;
  --color-primary-focus: #bb0606;
  /* --color-secondary: #28cb38; */
  /* --color-secondary-content: #010f01; */
  /* --color-accent: #1656c4; */
  /* --color-accent-content: #cfdef6; */
  /* --color-neutral: #262931; */
  /* --color-neutral-content: #cfd0d2; */
  --color-base-100: #f2f2f2;
  --color-base-200: #fafafb;
  --color-base-300: #fff;
  /* --color-content: #121412; */
  /* --color-neutral-content: #; */
  /* --color-info: #2563eb; */
  /* --color-info-content: #; */
  /* --color-success: #; */
  /* --color-success-content:#; */
  /* --color-warning	: #; */
  /* --color-warning-content: #; */
  /* --color-error	: #; */
  /* --color-error-content	: #; */
  /* --radius-selector	: ; */
  /* --radius-field	: ; */
  /* --radius-box	: ; */
  /* --size-selector	: ; */
  /* --size-field	: ; */
  /* --border	: ; */
  /* --depth	: ; */
  /* --noise	: #; */
}
